<main class="d-flex flex-column justify-content-center align-items-center vh-100" >
			<mat-progress-bar *ngIf="isLoading" class="custom-progress-bar" mode="indeterminate"></mat-progress-bar>

<!-- <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<p>
  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p> -->

<div class="container w-100 h-100" #container >
  <div class="form-container sign-up-container p-2" #container>
    <form [formGroup]="SignUpForm" (submit)="onSignUpFormSubmit()" >
 <!-- <h1>{{SignUpForm.value|json}}</h1> -->

			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
			</div>
			<span>or use your email for registration</span>
			<input type="text" name="firstName"  formControlName="firstName"  placeholder="firstName" />
			<input type="text" name="lastName" formControlName="lastName"  placeholder="lastName" />
			<input type="text" name="username" formControlName="username"  placeholder="username" />
			<input type="email" name="email" formControlName="email"  placeholder="email"  />
			<input type="password" name="password" formControlName="password"  placeholder="password" />
      <mat-error class="text-danger" *ngIf="SignUpForm.get('firstName')?.invalid && SignUpForm.get('firstName')?.touched">
  {{ getErrorMessage('firstName') }}
</mat-error>
      <mat-error class="text-danger" *ngIf="SignUpForm.get('lastName')?.invalid && SignUpForm.get('lastName')?.touched">
  {{ getErrorMessage('lastName') }}
</mat-error>
      <mat-error class="text-danger" *ngIf="SignUpForm.get('username')?.invalid && SignUpForm.get('username')?.touched">
  {{ getErrorMessage('username') }}
</mat-error>
      <mat-error class="text-danger" *ngIf="SignUpForm.get('email')?.invalid && SignUpForm.get('email')?.touched">
  {{ getErrorMessage('email') }}
</mat-error>
      <mat-error class="text-danger" *ngIf="SignUpForm.get('password')?.invalid && SignUpForm.get('password')?.touched">
  {{ getErrorMessage('password') }}
</mat-error>
			<button [disabled]="!SignUpForm.valid||isLoading" >Sign Up</button>
		</form>
	</div>

	<div class="form-container sign-in-container">
		<form  [formGroup]="SignInForm" (submit)="onSignInSubmit()">
      <!-- <h1>{{SignInForm.value|json}}</h1> -->

			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
			</div>
			<span>or use your account</span>
			<input type="text" name="username" formControlName="username" placeholder="Username" />
			<input type="password" name="password" formControlName="password" placeholder="password" />
			<a href="#">Forgot your password?</a>
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn"   #SignUpbutt (click)="container.classList.add('right-panel-active')">Sign Up</button>
			</div>
			<div class="overlay-panel overlay-left">
				<h1>Welcome</h1>
				<p>Start Your Magnificant journey with us</p>
				<button class="ghost" id="signUp"  [disabled]="isLoading" (click)="container.classList.remove('right-panel-active')">Sign In</button>
			</div>
		</div>
	</div>
</div>

</main>