
@defer () {
<div   class="card-body container">
    <!-- <h5 class="card-title">{{userPersonalData?.followers.length == 0? "No Followers Yet":userPersonalData?.followers}}</h5> -->
    <!-- <h5 class="card-title">{{userPersonalData?.SentFriendsRequestsUsersData?.length == 0 ? "You Are not Following Anyone":userPersonalData?.SentFriendsRequestsUsersData |json}}</h5>  -->
 @if(userPersonalData?.SentFriendsRequestsUsersData.length > 0){
         <div  class="container mt-4">
          <h2>Sent Friend Requests</h2>
  <div #card class="d-flex gap-2 min-vw-25  justify-content-center align-items-center  flex-column flex-md-row">
    <div  class="d-flex p-2 " *ngFor="let request of userPersonalData?.SentFriendsRequestsUsersData; let i = index">

      <mat-card class="user-card p-3 cards-container d-flex flex-column justify-content-center align-items-center gap-2">
        <mat-card-header>
          <div mat-card-avatar class="avatar" [ngStyle]="{'background-image': 'url(/assets/avatars/' + request.avatar + ')'}"></div>
          <mat-card-title><p  mat-card-title>Friend request To</p>   {{ request.username }}</mat-card-title>
          <mat-card-subtitle>{{ request.email }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p> Name{{ request.firstName }} {{ request.lastName }}</p>
          
     <p>Status: {{userPersonalData.following[i].status }}</p>
  <p>{{ userPersonalData.following[i].updatedAt |  timeAgo }}</p>

  <!-- <div class="d-flex justify-content-center gap-2">
     <button   matButton="filled" ><mat-icon>favorite</mat-icon>Add</button>

          <button mat-stroked-button >Message</button>
          </div> -->
        </mat-card-content>
      </mat-card>
    </div>
     <div class="d-flex p-2  ">

     </div>
     </div>
  </div>
  

 } @else{
  <p>No Sent Friend Requests</p>
 }
<hr>

    <!-- <h5 class="card-title">{{friendsRequests.length == 0? "You Are not  Having any Friend Requests (زميل)":friendsRequests |json}}</h5> -->
@if(friendsRequests.length > 0){
          <h2>Friend Requests</h2>

            <div  class="container mt-4">
  <div class="d-flex gap-2 min-vw-25 justify-content-center align-items-center flex-column flex-md-row">
    <div class="d-flex p-2 " *ngFor="let request of friendsRequests">
      <mat-card class="user-card p-3 cards-container d-flex flex-column justify-content-center align-items-center gap-2">
        <mat-card-header>
          <div mat-card-avatar class="avatar" [ngStyle]="{'background-image': 'url(/assets/avatars/' + request.avatar + ')'}"></div>
          <mat-card-title><p  mat-card-title>Friend request From </p>   {{ request.sender?.username }}</mat-card-title>
          <mat-card-subtitle>{{ request.sender?.email }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p> Name{{ request.sender?.firstName }} {{ request.sender?.lastName }}</p>
        </mat-card-content>
        <p>{{request.status}} From {{request.createdAt |timeAgo}}</p>
        <div class="d-flex justify-content-center gap-2">
           <button   matButton="filled"(click)="acceptFriendRequest(request._id)" ><mat-icon>favorite</mat-icon>Accept</button>

                <button mat-stroked-button (click)="rejectFriendRequest(request._id)">Reject</button>
                </div>
      </mat-card>
    </div>
  </div>
</div>
} @else{
  <p>No Friend Requests</p>
 }
<hr>
    <!-- <h5 class="card-title">{{SentFriendsRequestsUsersData |json}}</h5> -->
    <!-- <p class="card-text">{{userFriends?.length == 0? "You Don't Have Friends Yet":userFriends |json}}</p> -->
    @if(userFriends?.length !== 0){
      <h3>Friends</h3>
  <div class="d-flex gap-2 min-vw-25 justify-content-center align-items-center flex-column flex-md-row">

      <div class="d-flex p-2 " *ngFor="let Friend of userFriends">
            <mat-card class="user-card p-3 cards-container d-flex flex-column justify-content-center align-items-center gap-2">
        <mat-card-header>
          <div mat-card-avatar class="avatar" [ngStyle]="{'background-image': 'url(/assets/avatars/' + Friend.avatar + ')'}"></div>
          <mat-card-title>{{ Friend?.username }}</mat-card-title>
          <mat-card-subtitle>{{ Friend?.email }}</mat-card-subtitle>
        </mat-card-header>
        <!-- <mat-card-content>
          <p> Name{{ Friend?.firstName }} {{ Friend?.lastName }}</p>
        </mat-card-content> -->
        <!-- <p>{{request.status}} From {{request.createdAt |timeAgo}}</p> -->
        <div class="d-flex justify-content-center gap-2">
    <a  (click)="RemoveFriend(Friend._id)" class="btn btn-danger">Remove</a>

           <!-- <button   matButton="filled"(click)="acceptFriendRequest(userFriends._id)" ><mat-icon>favorite</mat-icon>Accept</button> -->

                <!-- <button mat-stroked-button (click)="rejectFriendRequest(request._id)">Reject</button> -->
                </div>
              </mat-card>
            </div>
  </div>

    }
    @else {
      <p>No Friends Yet</p>
    }
<!-- <h1>{{friendsRequests | json}}</h1> -->
    <!-- <a  (click)="showFriendsRequests()" class="btn btn-primary">Go somewhere</a> -->
 


    <div *ngIf="friendReqShow.length > 0" class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let user of friendReqShow">
      <mat-card class="user-card">
        <mat-card-header>
          <div mat-card-avatar class="avatar" [ngStyle]="{'background-image': 'url(/assets/avatars/' + user.avatar + ')'}"></div>
          <mat-card-title>{{ user.username }}</mat-card-title>
          <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Posts: {{ user.posts.length }}</p>
          <p>Role: {{ user.role }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
</div>
}
@placeholder (minimum 1s) {
  <div class="loading-container d-flex flex-column align-items-center justify-content-center my-5">
  <mat-spinner class="loading-spinner my-5"></mat-spinner>
  <p class="loading-text">Loading your personal data...</p>
</div>
}