
.media-preview-container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }

.card-body{

}
  .media-preview-container img {
    width: 100%;
    height: auto;
    transition: filter 0.3s ease;
  }

  .media-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .media-preview-container:hover .media-overlay {
    opacity: 1;
  }

  .media-preview-container:hover img {
    filter: brightness(0.8);
  }