:host{
    display: flex;
    justify-content: center ;
    align-items: center;
    background: linear-gradient(to bottom right, #e3f2fd, #fce4ec);

   
}
.example-form{
    flex-grow: 0.3;
    padding: 20px;
    background-color: rgb(224 226 236);
    border-radius: 10px;
   

}
img{
    width: 25%;
    border-radius: 50%;
}
