<div class="app-container">
  <!-- Chat List Section -->
  @if(!selectedChat && chats?.length) {
  <div class="d-flex w-100 flex-column bg-white border-end chat-list-container slide-up"
       style="border-right-color: #f0f2f5;">
    <div class="chat-container-mobile d-flex d-lg-none">
      <button mat-icon-button class="menu-toggle" (click)="toggleMobileMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="chat-list-header">
      <h2>Chats</h2>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>group_add</mat-icon>
          <span>New Group Chat</span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Chat Settings</span>
        </button>
      </mat-menu>
    </div>

    <!-- Search Bar -->
    <!-- <div class="search-container">
      <mat-form-field appearance="outline" class="w-100">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Search messages" [(ngModel)]="searchTerm">
      </mat-form-field>
    </div> -->

    <!-- Chat List -->
    <div class="chat-list">
      @for(chat of chats; track $index) {
        <div class="chat-item" 
             [class.active]="selectedChat?._id === chat._id"
             (click)="selectChat(chat)">
          <div class="chat-avatar">
            <!-- For group chat, show group icon, otherwise show user avatar -->
            @if(chat.isGroupChat) {
              <div class="group-avatar">
                <mat-icon>group</mat-icon>
              </div>
            } @else {
              <img [src]="getOtherUserAvatar(chat)" 
                   [alt]="chat.chatName"
                   class="user-avatar">
            }
            <div class="online-indicator" 
                 [class.online]="isUserOnline(getOtherUser(chat))"></div>
          </div>

          <div class="chat-info">
            <div class="chat-header">
              <!-- <h3 class="chat-name">{{chat.isGroupChat ? chat.chatName : getOtherUserName(chat)}}</h3> -->
              <h3 class="chat-name">{{getOtherUser(chat)?.username }} &nbsp; </h3> 
              <span class="chat-time">{{chat.createdAt | date:'shortTime'}}</span>
            </div>
            <div class="chat-preview">
              <p class="last-message">
                <span class="sender-name" *ngIf="chat.isGroupChat">
                  {{chat.latestMessage?.sender?.firstName}}
                </span>
                <span class="sender-name" *ngIf="!chat.isGroupChat">
                  {{getLastMessageSender(chat)?getLastMessageSender(chat)+ ':': ''}}
                </span>
                {{chat.latestMessage?.content || 'No messages yet'}}
               {{chat.counter > 0 ? '(' + chat.counter + ')' : ''}}
              </p>
              @if(UnreadMessagesCount(chat,this.currentUserId?._id) > 0) {
              &nbsp;  <span class="unread-badge">{{UnreadMessagesCount(chat,this.currentUserId?._id)}}</span>
              }
            </div>
          </div>
        </div>
      }
    </div>
  </div>
   }
  <!-- Empty State -->
  @if(chats?.length === 0) {
    <div class="empty-state">
      <mat-icon>chat_bubble_outline</mat-icon>
      <h3>No conversations yet</h3>
      <p>Start a new chat with your friends</p>
      <!-- <button mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        New Chat
      </button> -->
    </div>
  }
</div>

  <!-- Chat Messages Section -->
  @if(selectedChat) {
    <div class="chat-messages-container">
      <div class="chat-messages-header">
        <div class="user-info">
          <img [src]="getOtherUserAvatar(selectedChat)" 
               [alt]="selectedChat.chatName"
               class="user-avatar">
          <div class="user-details">
            <h3>{{selectedChat.isGroupChat ? selectedChat.chatName : getOtherUserName(selectedChat)}}</h3>
            <span class="online-status" 
                  [class.online]="isUserOnline(getOtherUser(selectedChat))">
              {{isUserOnline(getOtherUser(selectedChat)) ? 'Online' : 'Offline'}}
            </span>
            <p>Last Seen: {{getOtherUser(selectedChat)?.userStatus === 'offline' ? (getOtherUser(selectedChat)?.lastSeen | timeAgo) : 'Now'}}</p>
          </div>

        </div>
        <div class="header-actions">
          <!-- <button mat-icon-button>
            <mat-icon>videocam</mat-icon>
          </button> -->
          <!-- <button mat-icon-button>
            <mat-icon>call</mat-icon>
          </button> -->
          <button mat-icon-button [matMenuTriggerFor]="chatMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
            <button mat-icon-button (click)="navigateToChat()">
           <mat-icon>arrow_forward</mat-icon>
          </button>
          <mat-menu #chatMenu="matMenu">
            <button mat-menu-item>
              <mat-icon>search</mat-icon>
              <span>Search in conversation</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Mute notifications</span>
            </button>
            <button mat-menu-item class="warn-text">
              <mat-icon color="warn">block</mat-icon>
              <span>Block user</span>
            </button>
          </mat-menu>
        </div>
      </div>

      <div class="messages-list" #scrollContainer>
        <div class="messages-group">
          @if (  messages?.length == 0) {
            <div class="no-messages">
              <p>No messages yet. Start the conversation!</p>
              
            </div>
          }
          @for(message of messages; track message._id) {
            <div class="message-container" 
                 [class.own-message]="message.sender?.username === currentUserId.username">
              <div class="message-bubble">
                @if(message.sender?.username !== currentUserId.username && selectedChat.isGroupChat) {
                  <div class="sender-name">{{message.sender?.username}}</div>
                }
                <p class=" mb-1 fw-semibold text-muted">{{message.sender?.username}}</p>
                <div class="message-content">{{message.content}}</div>
                <div class="message-time">
                  {{message.createdAt | date:'shortTime'}}
                  @if(message.sender?.username === currentUserId.username) {
                    <mat-icon class="read-status" 
                             [class.read]="message.readBy.length > 0">
                      done_all
                    </mat-icon>
                  }
                </div>
              </div>
            </div>
            
          }
          
        </div>
     
      </div>
      <div class="message-input-container">
        <button mat-icon-button>
          <mat-icon>attach_file</mat-icon>
        </button>
        <mat-form-field appearance="outline" class="message-input">
          <input matInput 
                 placeholder="Type a message..."
                 [(ngModel)]="newMessage"
                 (keyup.enter)="sendMessage()">
        </mat-form-field>
        <button mat-icon-button color="primary" (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </div>

   
    </div>
  } 
